*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2rem;
}

.hero{
    display: flex;
    max-width: 1200px;
    min-height: 400px;
    height: 100vh;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
@media (max-width: 768px){
    .hero{
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
        align-items: center;
    }
}
.hero-image{
    outline: 2px solid blue;
    max-width: 450px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}
@media (max-width: 768px){
    .hero-text{
        align-items: center;
    }
}
.hero-text>button{
    margin-top: 10px;
    padding: 0.6rem;
    width: 120px;
    border: none;
    border-radius: 5px;
}