*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    transition: padding 0.2s ease;
}
.nav-links{
    display: flex;
    gap: 20px;
}

.menu-toggle{
    display: none;
}
.hamburger{
    display: none;
    cursor: pointer;
}

@media (max-width: 1024px){
    .navbar{
        padding-left: 50px;
    }
}
@media (max-width: 600px){
    .navbar{
        padding-left: 30px;
        font-size: 1rem;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 70px;
        right: 0;
        backdrop-filter: blur(40px);
        background-color: rgba(192, 185, 185, 0.445);
        padding: 2rem;
        height: 100vh;
        width: 250px;
    }
    .hamburger{
        display: block;
    }
}
.menu-toggle:checked+.hamburger+.nav-links{
    display: flex;
}
