*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 2rem;
    font-family: sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    justify-items: center;
    max-width: 1200px;
    margin: auto;
}
@media (max-width: 1200px){
    .grid{
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-auto-rows: 1fr;
    }
}
@media (max-width: 800px){
    .grid{
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
    .img-box>img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    gap: 10px;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 10px hsl(0, 1%, 37%);
}
.card:hover{
    transform: translateY(-5px);
    transition: 0.2s ease;
}
.img-box>img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.card>button{
    width: 180px;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.card>button:hover{
    background-color: hsl(0, 1%, 27%);
    color: hsl(0, 17%, 98%);
    transition: background 3ms ease-out;
    border: none;
}